* {
  font-family: "Ojuju", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-body {
  background-image: url(C:\Users\Malachi\Documents\coding-temple-selfpaced\vue-assignments\Vue-capstone\src\assets\solo-leveling.jpeg);
}

.character-body {
  background-image: url(C:\Users\Malachi\Documents\coding-temple-selfpaced\vue-assignments\Vue-capstone\src\assets\igris.jpg);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  width: 33%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choice-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choice-btn {
  display: flex;
  justify-content: center;
  color: black;
  border: 4px solid;
  padding: 10px;
  width: 262.5px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 black, 0 6px 20px 0 black;
  font-weight: 600;
}

.btn-1 {
  background-color: #1671b0;
  border-color: #1671b0;
}

.btn-2 {
  background-color: #2ce4f9;
  border-color: #2ce4f9;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 30px 0;
  padding-bottom: 50px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
  
}

.btn{
  margin-top: -20px;
  background-image: linear-gradient(to right, #1671b0, #2ce4f9);
  border: 4px solid #1671b0;
  color: black;
  padding: 10px;
  border-radius: 40px;
  width: 262.5px;
  height: 50px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  color: white;
  background: #1671b0;
  border: 4px solid #1671b0;
  padding: 10px;
  border-radius: 40px;
}

.choice-btn:hover {
  color: white;
  background: #1671b0;
  border: 4px solid #1671b0;
  padding: 10px;
}